@import "../colors.sass";

.recent-orders-container {
    display: flex;
    flex-wrap: wrap;

    .recent-orders-header {
        width: 1135px;
        height: 41px;
        background-color: $recent-orders-header-color;
        padding-top: 9px;
        padding-bottom: 36.5px;
        margin-left: 15px;

        .recent-orders-button-first {
            width: 67px;
            height: 23px;
            border: 0;
            border-radius: 11px;
            font-size: 10px;
            margin-left: 10px;
            transition: all 200ms;
            cursor: pointer;
        }

        .recent-orders-button-second {
            width: 83px;
            height: 23px;
            border: 0;
            border-radius: 11px;
            font-size: 10px;
            margin-left: 5px;
            transition: all 200ms;
            cursor: pointer;
        }

        .recent-orders-header-text {
            width: 126px;
            height: 22px;
            color: $white-color;
            font-size: 16px;
            font-family: "Open Sans", sans-serif;
            font-weight: 600;
            margin-left: 340px;
        }
    }

    .recent-orders-categories {
        width: 1135px;
        height: 24px;
        border-bottom: 1px $recent-orders-categories-border;
        vertical-align: middle;
        line-height: 24px;
        margin-left: 15px;

        .recent-orders-categories-date {
            color: $recent-orders-caategories-text;
            font-size: 10px;
            margin-left: 10px;
            margin-top: 8px;
        }

        .recent-orders-categories-subject {
            color: $recent-orders-caategories-text;
            font-size: 10px;
            margin-left: 86px;
        }

        .recent-orders-categories-type {
            color: $recent-orders-caategories-text;
            font-size: 10px;
            margin-left: 410px;
        }

        .recent-orders-categories-number {
            color: $recent-orders-caategories-text;
            font-size: 10px;
            margin-left: 113px;
        }
    }

    .no-items {
        width: 1135px;
        background-color: $no-items-bg;
        margin-left: 15px;
        padding-top: 86px;
        padding-bottom: 86px;

        text {
            font-family: "Open Sans", sans-serif;
            font-size: 21px;
            color: $no-items-text-color;
            margin-left: 523px;
        }
    }
}