@import "../colors.sass";

.sms-status-container {
    display: flex;
    flex-wrap: wrap;
    width: 225px;
    height: 125px;
    margin-left: 925px;
    margin-top: -125px;

    .sms-status-container-stat-rect {
        width: 225px;
        height: 24px;
        font-size: 10px;
        font-weight: 600;
        font-family: "Open Sans", sans-serif;
        text-align: center;
        background: rgba(0, 0, 0, 0.1);
        margin-top: 5px;
        padding-top: 4px;
    }

    .sms-status-container-header {
        font-size: 12px;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        margin-left: 53px;
        padding-top: 7px;
        align-items: center;
    }

    .sms-status-container-text {
        font-size: 50px;
        font-weight: 600;
        text-align: center;
        font-family: "Open Sans", sans-serif;
        margin-left: 86px;
        padding-top: 5px;
    }
}

.sms-in {
    background: $sms-status-background-in;
}

.sms-out {
    background: $sms-status-background-out;
}