@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Header Section */
/* ------------------------------------------------------------ */

.header-container {
  display: flex;
}

.header-container-star-icon {
  width: 28px;
  height: 25px;
  color: #AAAAAA;

  margin-top: 24px;
  margin-left: 15px;
}

.header-container-user-name {
  font-size: 25px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  width: 158px;
  height: 34px;
  color: #000000;

  margin-top: 20px;
  margin-left: 17px;
}

.header-container-button {
  width: 200px;
  height: 40px;
  border: 0;
  border-radius: 4px;

  color: #FCFEFF;
  font-size: 18px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;

  margin-top: 16px;
  margin-left: 732px;
}

.header-container-hr {
  margin-top: 17.5px;
  width: 1135px;
  margin-left: 15px;

  border-top: 1px solid #333333;
}

/* User Data Section */
/* ------------------------------------------------------------ */

.user-data-container {
  display: flex;
  margin-top: 6.5px;
}

.user-data-first {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 97px;
  height: 125px;
  background: #EDF5FF;

  margin-left: 15px;
}

.user-data-first-icon {
  width: 63px;
  height: 72px;
  color: #FFFFFF;
}

.user-data-first-text {
  font-size: 10px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;

  margin-top: 12px;
}

.user-data-second {
  display: flex;
  flex-direction: column;

  width: 239px;
  height: 125px;
  background: #EDF5FF;

  margin-left: 5px;
}

.user-data-second-rows-container {
  display: flex;
  align-items: center;
  flex-direction: row;

  margin-top: 8px;
  margin-left: 12px;
}

.user-data-second-icon {
  width: 12px;
  height: 14px;
  color: #B0C6D8;

  margin-right: 8px;
}

.user-data-second-rows-container text {
  font-size: 12px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

/* Activity Section */
/* ------------------------------------------------------------ */

.activity-container {
  display: flex;
  flex-wrap: wrap;
  width: 561px;

  margin-left: 359px;
  margin-top: -125px;
}

.activity-container-header-text {
  margin-left:181px;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}

.activity-container-header {
  width: 559px;
  height: 30px;
  background: #EDF5FF;

  margin-left: 2px;
  align-items: center;
}

.activity-container-stat {
  width: 185px;
  height: 95px;
  background: #EDF5FF;
  margin-left: 2px;
}

.activity-container-stat-number {
  font-size: 50px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;

  margin-left: 79px;
}

.activity-container-stat-rect {
  width: 185px;
  height: 24px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 10px;
  background: rgba(0, 0, 0, 0.1);

  margin-top: 3.5px;
  padding-top: 4px;
}

/* Sms Status Section */
/* ------------------------------------------------------------ */

 .sms-status-container {
  display: flex;
  flex-wrap: wrap;
  width: 225px;
  height: 125px;

  background: #EDFFED;
  
  margin-left: 925px;
  margin-top: -125px;
 }

 .sms-status-container-stat-rect {
  width: 225px;
  height: 24px;

  font-size: 10px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  text-align: center;

  background: rgba(0, 0, 0, 0.1);
  
  margin-top: 5px;
  padding-top: 4px;
}

.sms-status-container-header {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;

  margin-left: 53px;
  padding-top: 7px;
  align-items: center;
}

.sms-status-container-text {
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  
  margin-left: 86px;
  padding-top: 5px;
}

.sms-status-container-hr {
  width: 1135px;
  border-top: 1px solid #D4D4D4;

  margin-left: 15px;
  margin-top: 7px;
}

/* Orders Buttons Section */
/* ------------------------------------------------------------ */

.orders-buttons-container {
  width: 1135px;
  height: 81px;
  background: #F2F2F2;

  margin-left: 15px;
}

.orders-container-button {
  width: 165px;
  height: 40px;
  border: 0;

  font-size: 12px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;

  cursor: pointer;
}

.order-buttons-container-hr {
  width: 1135px;
  height: 2.5px;
  position: absolute;
  background: #4D4D4D;

  margin-left: 15px;
  margin-top: -3.5px;
}

/* Recent Orders Section */
/* ------------------------------------------------------------ */

.recent-orders-container {
  display: flex;
  flex-wrap: wrap;
}

.recent-orders-header {
  width: 1135px;
  height: 41px;
  background-color: #7D869A;
  padding-top: 9px;
  padding-bottom: 36.5px;
  margin-left: 15px;
}

.recent-orders-header-text {
  width: 126px;
  height: 22px;
  color: #FFFFFF;

  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  margin-left: 340px;
}

.recent-orders-button-first {
  width: 67px;
  height: 23px;
  
  border: 0;
  border-radius: 11px;
  font-size: 10px;

  margin-left: 10px;

  transition: all 200ms;
  cursor: pointer;
}


.recent-orders-button-second {
  width: 83px;
  height: 23px;

  border: 0;
  border-radius: 11px;
  font-size: 10px;
  
  margin-left: 5px;

  transition: all 200ms;
  cursor: pointer;
}

.recent-orders-categories {
  width: 1135px;
  height: 24px;
  border-bottom: 1px #D8D8D8;
  vertical-align: middle;
  line-height: 24px;

  margin-left: 15px;
}

.recent-orders-categories-date {
  color: #444444;
  font-size: 10px;

  margin-left: 8px;
  margin-top: 8px;
}

.recent-orders-categories-subject {
  color: #444444;
  font-size: 10px;

  margin-left: 83px;
}

.recent-orders-categories-type {
  color: #444444;
  font-size: 10px;

  margin-left: 410px;
}

.recent-orders-categories-number {
  color: #444444;
  font-size: 10px;

  margin-left: 113px;
}

.recent-orders-top-order {
  width: 1135px;
  height: 70px;
  box-sizing: border-box;

  border-top: 1px solid #D8D8D8;
  display: flex;
  padding-top: 12px;
} 

.recent-orders-order-time-container {
  margin-left: 6px;
  width: 80px;
  overflow-wrap: break-word;

  color: #333333;
}

.recent-orders-order-small-text {
  font-size: 14px;
  margin-top: 6px;
} 

.recent-orders-subject-container {
  width: 280px;
  overflow-wrap: break-word;
  color: #333333;

  margin-left: 65px;
}

.recent-orders-order-type-container {
  font-size: 14px;
  color: #333333;

  margin-left: 169px;
  padding-top: 12px;
}

.recent-orders-order-number-top {
  margin-left: 112px;
}

.recent-orders-resend-button {
  width: 88px;
  height: 28px;
  border: 0;
  border-radius: 3px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #FFFFFF;
  font-weight: 400;

  margin-top: 8px;
  margin-left: 160px;
}

.recent-orders-bottom-order {
  width: 1135px;
  height: 70px;
  box-sizing: border-box;
  background-color: #F2F4F7;

  display: flex;
  padding-top: 12px;
  border-top: 1px solid #95989A;
  border-bottom: 1px solid #95989A;
}

.recent-orders-order-number-bottom {
  margin-left: 95px;
}

.no-items {
  width: 1135px;
  background-color: #FAFAFA;

  margin-left: 15px;
  padding-top: 86px;
  padding-bottom: 86px;
}

.no-items text {
  font-family: 'Open Sans', sans-serif;
  font-size: 21px;
  color: #CCCCCC;
  margin-left: 523px;
}

/* Loader */
/* ------------------------------------------------------------ */

.bouncing-loader {
  display: flex;
  justify-content: center;
  padding-bottom: 6.5px;
}

.bouncing-loader > div {
  width: 16px;
  height: 16px;
  margin: 3px 6px;
  border-radius: 50%;
  background-color: #a3a1a1;
  opacity: 1;
  animation: bouncing-loader 0.6s infinite alternate;
}

@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translateY(-16px);
  }
}

.bouncing-loader > div:nth-child(2) {
  animation-delay: 0.2s;
}

.bouncing-loader > div:nth-child(3) {
  animation-delay: 0.4s;
}

/* Spinner Loader */
/* ------------------------------------------------------------ */

.spinner-loader {
  display: inline-block;
  width: 75px;
  height: 75px;
  border: 5px solid rgb(255 255 255 / 100%);
  border-radius: 50%;
  border-top-color: rgb(255 255 255 / 0%);;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
  position: fixed;
  margin-left: 15px;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

/* Blurred Screen Loader */
/* ------------------------------------------------------------ */

.blurred-screen-loader-container {
  display: block;
  background: #000000;
  opacity: 0.7;
  height: 100vh;
  margin-bottom: -100vh;
}

.blurred-screen-loader-x-position {
  color: #fff;
  position: fixed;
  padding-top: 30px;
  padding-left: 1113px;
}

.x-icon {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.blurred-screen-loader-position {
  color: #fff;
  position: fixed;
  padding-top: 580px;
  padding-left: 530px;
}

.blurred-screen-loader-position-text {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  position: fixed;
  padding-top: 670px;
  padding-left: 510px;
}

.display-none {
  display: none;
}